* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Mandali", sans-serif; }

body {
  max-width: 1140px;
  font-size: 2rem;
  margin: 0 auto;
  padding: 15px 0px; }

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(80px);
    opacity: 0; }
  80% {
    transform: translateX(-5px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes fadeInFromRight {
  0% {
    transform: translateX(-80px);
    opacity: 0; }
  80% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes fadeInFromBottom {
  0% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
header {
  color: white;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.938), #5f5ff3), url(../images/header-cover.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: block; }
  header .header {
    position: absolute;
    top: 33%;
    left: 33%;
    transform: translateY(-40%); }
    header .header__text-main {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      backface-visibility: hidden;
      animation: fadeInFromLeft 1.5s ease-out;
      text-align: center; }
    header .header__text-sub {
      letter-spacing: 0.75rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      animation: fadeInFromRight 1.5s ease-out;
      text-align: center; }

.discover {
  text-align: center;
  margin-top: 10px; }
  .discover__button {
    background-color: white;
    color: #0d0d86;
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    display: inline-block;
    border-radius: 1.4rem;
    transition: transform 0.2s;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    animation: fadeInFromBottom 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    text-align: center; }
    .discover__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 5px rgba(0, 0, 0, 0.295); }
    .discover__button:active {
      transform: translateY(-1px);
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.295); }
    .discover__button::after {
      content: "";
      display: inline-block;
      background-color: white;
      height: 100%;
      width: 100%;
      border-radius: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.3s; }
    .discover__button:hover::after {
      transform: scaleX(1.8) scaleY(2);
      opacity: 0; }

.composition {
  position: relative;
  z-index: 10; }
  .composition__photo {
    width: 50%;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.4);
    transition: all 0.2s; }
    .composition__photo-1 {
      top: 1rem;
      left: 0; }
    .composition__photo-2 {
      right: 3rem;
      top: 3rem; }
    .composition__photo-3 {
      top: 7rem;
      left: 3.5rem; }
    .composition__photo:hover {
      transform: translateY(-0.2rem) scale(1.3);
      transition: all 0.2s;
      z-index: 11;
      box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.6);
      outline: 0.4rem solid rgba(0, 0, 255, 0.938);
      outline-offset: 0.15rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8);
    transition: all 0.2s; }

.section-about {
  margin: 0 auto;
  background-color: #f7f7f7;
  margin-top: -10vh;
  padding-top: 15vh; }
  .section-about__heading {
    text-align: center;
    letter-spacing: 4px; }
  .section-about .heading-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    display: inline-block;
    background-image: linear-gradient(to left, rgba(0, 0, 255, 0.938), #5f5ff3);
    -webkit-background-clip: text;
    color: transparent; }
  .section-about__content {
    color: rgba(33, 33, 75, 0.849);
    padding: 0 3rem;
    text-transform: uppercase; }
    .section-about__content .content_header {
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px; }
    .section-about__content .content_desc {
      justify-content: left;
      font-size: 0.8rem;
      padding: 0.5rem 3rem;
      font-weight: bold; }

.row {
  margin: 0 auto; }
  .row :not(:last-child) {
    margin-right: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2);
    float: left; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

/*# sourceMappingURL=styles.css.map */
