.row {
  margin: 0 auto;
  :not(:last-child) {
    margin-right: $horizontal-gutter;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1-of-2 {
    width: calc((100% - #{$horizontal-gutter}) / 2);
    float: left;
  }
}
