.composition {
  position: relative;
  z-index: 10;

  &__photo {
    width: 50%;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;

    &-1 {
      top: 1rem;
      left: 0;
    }

    &-2 {
      right: 3rem;
      top: 3rem;
    }

    &-3 {
      top: 7rem;
      left: 3.5rem;
    }

    &:hover {
      transform: translateY(-0.2rem) scale(1.3);
      transition: all 0.2s;
      z-index: 11;
      box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.6);
      outline: 0.4rem solid $header_bg_color_dark;
      outline-offset: 0.15rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
    transition: all 0.2s;
  }
}
