.discover {
  text-align: center;
  margin-top: 10px;

  &__button {
    background-color: white;
    color: rgb(13, 13, 134);
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    display: inline-block;
    border-radius: 1.4rem;
    transition: transform 0.2s;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    animation: fadeInFromBottom 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 5px rgba(0, 0, 0, 0.295);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.295);
    }

    &::after {
      content: "";
      display: inline-block;
      background-color: white;
      height: 100%;
      width: 100%;
      border-radius: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover::after {
      transform: scaleX(1.8) scaleY(2);
      opacity: 0;
    }
  }
}
