header {
  color: white;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-image: linear-gradient(
      to right bottom,
      $header_bg_color_dark,
      $header_bg_color_light
    ),
    url(../images/header-cover.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: block;

  .header {
    position: absolute;
    top: 33%;
    left: 33%;
    transform: translateY(-40%);

    &__text-main {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      backface-visibility: hidden;
      animation: fadeInFromLeft 1.5s ease-out;
      text-align: center;
    }

    &__text-sub {
      letter-spacing: 0.75rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      animation: fadeInFromRight 1.5s ease-out;
      text-align: center;
    }
  }
}
