* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Mandali", sans-serif;
}

body {
  max-width: 1140px;
  font-size: 2rem;
  margin: 0 auto;
  padding: 15px 0px;
}
