.section-about {
  margin: 0 auto;
  background-color: #f7f7f7;
  margin-top: -10vh;
  padding-top: 15vh;

  &__heading {
    text-align: center;
    letter-spacing: 4px;
  }

  .heading-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    display: inline-block;
    background-image: linear-gradient(
      to left,
      $header_bg_color_dark,
      $header_bg_color_light
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__content {
    color: $color_content_text;
    padding: 0 3rem;
    text-transform: uppercase;

    .content_header {
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .content_desc {
      justify-content: left;
      font-size: 0.8rem;
      padding: 0.5rem 3rem;
      font-weight: bold;
    }
  }
}
